@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes swim {
  from {
    right: -150%;
  }
  to {
    right: 100%;
  }
}
@media (prefers-reduced-motion: reduced) {
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

body {
  background-image: linear-gradient(to bottom, #07319d 0%, #030f2e 100%);
}

.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}
* {
  font-family: "BubblegumSans";
}

@font-face {
  font-family: "BubblegumSans";
  src: local("Bubblegum Sans"), local("BubblegumSans-Regular"), url("/assets/fonts/BubblegumSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
h1, p, a, ul {
  color: white;
  padding-inline: 1rem;
  max-width: 1000px;
}

h1 {
  font-size: 40px;
}

p, a, li {
  font-size: 30px;
}

a:hover {
  color: #eaeaea;
}

li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.section-1-2 {
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
}
.section-1-2__text {
  font-size: 1.5em;
  padding-inline: 1rem;
  max-width: 1200px;
  animation: fadeIn 1.5s ease-in-out forwards;
  opacity: 0;
}
.section-1-2__surface {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  height: 60%;
  background-color: #5f8cff;
  position: relative;
  overflow: hidden;
  width: 100vw;
}
.section-1-2__surface #sun {
  border-radius: 50%;
  top: -2rem;
  left: -2rem;
  width: 8em;
  position: absolute;
  box-shadow: "0 0 20px 10px rgba(25, 203, 68, 0.8)";
}
.section-1-2__surface #boat {
  width: 15rem;
  margin: -0.5rem;
}
.section-1-2__surfacep {
  font-size: 2rem;
  padding-inline: 1rem;
  padding-top: 20rem;
  text-align: center;
}
.section-1-2__ocean {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10rem;
  align-self: center;
  flex-wrap: wrap;
  width: 10rem;
  transform: translate(-9rem);
}
.section-1-2__ocean img {
  width: 1.5rem;
}

@media (min-width: 768px) {
  .section-1-2 #boat {
    width: 20rem;
  }
  .section-1-2 .section-1-2__text {
    font-size: 2rem;
  }
  .section-1-2 img {
    width: 2rem;
  }
}
#fact-3,
#fact-4 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.section-3,
.section-4 {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}
.section-3 .svg-container,
.section-4 .svg-container {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 2.7rem;
}
.section-3 .svg-container-2,
.section-4 .svg-container-2 {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 7.5rem;
}
.section-3 .microplastic,
.section-4 .microplastic {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.section-3 .fish,
.section-4 .fish {
  position: absolute;
  top: 7rem;
  animation: swim 10s infinite ease-in-out;
}
.section-3 #floating,
.section-4 #floating {
  animation: float 4s ease-in-out infinite;
}
.section-3 #floating-2,
.section-4 #floating-2 {
  animation: float 6s ease-in-out infinite;
}
.section-3 #floating-3,
.section-4 #floating-3 {
  animation: float 6s linear infinite;
}

.section#section-5 {
  justify-content: center;
  text-align: center;
}
.section__text5 {
  align-self: flex-end;
  margin-bottom: 40px;
}

.hookFish__fish2 {
  z-index: 2;
  width: 18rem;
  height: 10rem;
  top: 12.2rem;
  left: 6.8rem;
}
.hookFish__fishHookWorm {
  width: 3.5rem;
  height: 19.4rem;
  left: 5rem;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
  .hookFish {
    position: absolute;
    left: 30%;
    transform: translate(-30%);
  }
  .hookFish__fish2, .hookFish__fishHookWorm {
    transform: none;
  }
  .hookFish__fish2 {
    left: 34px;
  }
  .hookFish__fishHookWorm {
    left: 0;
  }
}
.section#section-6 {
  background-color: #4a2800;
}
.section#section-5 img, .section#section-6 img {
  position: absolute;
}
.section#section-6 {
  background-color: #4a2800;
}
.section__cookedFish {
  z-index: 2;
  width: 10.5rem;
  height: 4.5rem;
  top: 7.5rem;
  left: 50%;
  transform: translate(-50%);
}
.section__text6 {
  max-height: 382px;
}
.section__text6 {
  position: absolute;
  width: 100vw;
  bottom: 4%;
  left: 50%;
  transform: translate(-50%);
}

.dinner {
  display: flex;
  align-items: center;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
}
.dinner img {
  position: static !important;
}
.dinner__dinnerPlate {
  width: 15rem;
  height: 15rem;
}
.dinner__fork, .dinner__knife {
  width: 4rem;
  height: 12rem;
}

@media screen and (min-width: 600px) {
  .section__cookedFish {
    width: 14rem;
    height: 6rem;
    top: 9.5rem;
  }
  .dinner__dinnerPlate {
    width: 20rem;
    height: 20rem;
  }
  .dinner__fork, .dinner__knife {
    width: 4.5rem;
    height: 16rem;
  }
}
@media screen and (min-width: 870px) {
  .section__cookedFish {
    top: 11.5rem;
  }
  .dinner {
    top: 4rem;
  }
}
.section__textblock {
  width: 1000px;
  margin-inline: auto;
  padding-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.section__textblock h1 {
  margin-bottom: 1rem;
}