// global reset
@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // Hide scrollbar
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  background-image: linear-gradient(to bottom, $ocean1 0%, $ocean2 100%);
}

// Scroll snap
.container {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  // Scroll snap
  overflow: hidden;
  scroll-snap-align: start;
}

@media screen and (min-width: 600px) {
  html {
    font-size: 20px;
  }
}