@use "../utilities/variables" as *;

* {
  // apply font-family to all elements
  font-family: "BubblegumSans";
}

@font-face {
  font-family: "BubblegumSans";
  src: local("Bubblegum Sans"), local("BubblegumSans-Regular"),
    url("/assets/fonts/BubblegumSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

h1, p, a, ul {
  color: $white;
  padding-inline: 1rem;
  max-width: 1000px;
}

h1 {
  font-size: 40px;
}

p, a, li {
  font-size: 30px;
}

a:hover {
  color: $white-hover;
}

li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}