@use "../utilities/variables" as *;

@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

* {
  // apply font-family to all elements
  font-family: "Bubblegum Sans", sans-serif;
}

h1, p, a, ul {
  color: $white;
  padding-inline: 1rem;
  max-width: 1000px;
}

h1 {
  font-size: 40px;
}

p, a, li {
  font-size: 30px;
}

a:hover {
  color: $white-hover;
}

li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}